In [1]:
import pandas as pd
import numpy as np

In [4]:
training_data = pd.read_csv("Train_GCC-training.tsv",sep="\t", header=None)

In [6]:
training_data.head()

,0,1
0,a very typical bus station,http://lh6.ggpht.com/-IvRtNLNcG8o/TpFyrudaT6I/...
1,sierra looked stunning in this top and this sk...,http://78.media.tumblr.com/3b133294bdc7c7784b7...
2,young confused girl standing in front of a war...,https://media.gettyimages.com/photos/young-con...
3,interior design of modern living room with fir...,https://thumb1.shutterstock.com/display_pic_wi...
4,cybernetic scene isolated on white background .,https://thumb1.shutterstock.com/display_pic_wi...

In [8]:
training_data.describe()

,0,1
count,3318333,3318333
unique,2348709,3317812
top,"image may contain : person , on stage and play...",https://i.onthe.io/vllkyt6u0mt0666s4.47219141.jpg
freq,5227,3

In [11]:
# the training data is 2348709 unique captions